# Node modules
node_modules/

# Build artifacts
dist/
/build/

# Logs and temporary files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
*.tmp
*.swp

# Dependency directories
.DS_Store
Thumbs.db

# Editor and IDE settings
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# TypeScript
*.tsbuildinfo

# Test coverage
coverage/

# Production environment variables
.env.production
.env.local
.env.*.local

# Others
*.cache/
*.eslintcache
*.stylelintcache

# Lerna
lerna-debug.log

# Storybook static files
storybook-static/!/config/build/
.loki/report.html
.loki/report.json
