.app.light {
  --bg-color: #F3EACB;

  --inverted-bg-color: #2E2E2E;

  --primary-color: #333333;
  --secondary-color: #222222;

  --inverted-primary-color: #E0E0E0;
  --inverted-secondary-color: #FFFFFF;

  --accent-color: #A67C52;

  --card-color: #FFF5E1;

}