.app_light_theme {
    --bg-color: #f3eacb;
    --inverted-bg-color: #2e2e2e;
    --primary-color: #333;
    --secondary-color: #222;
    --inverted-primary-color: #e0e0e0;
    --inverted-secondary-color: #fff;
    --accent-color: #a67c52;
    --card-color: #fff5e1;
}
