@import '@/styles/fonts.scss';
@import '@/styles/variables/global.scss';
@import '@/styles/reset.scss';
@import '@/styles/themes/dark.scss';
@import '@/styles/themes/light.scss';

.app {
  font: var(--font-m);

  background: var(--bg-color);
  color: var(--primary-color);

  min-height: 100vh;
}