.AppLink {
  color: var(--primary-color);
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.AppLink:hover {
  text-decoration: underline;
  opacity: 0.8;
}

.primary {
  color: var(--inverted-primary-color)
}

.secondary {
  color: var(--inverted-secondary-color)
}